<head>
  <meta name="google-site-verification" content="nR7nYYcS6hAuqASwq1-ZXNiIH-r30L_osOyEb5zKNCo" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
    integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ 'assets/styles.css' | relative_url }}">

  <!-- tipuesearch -->
  <link rel="stylesheet" href="{{ '/assets/tipuesearch/css/tipuesearch.css' | relative_url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/tipuesearch/tipuesearch_content.js"></script>
  <script src="/assets/tipuesearch/tipuesearch_set.js"></script>
  <script src="/assets/tipuesearch/tipuesearch.min.js"></script>

  {%- seo -%}
  {%- feed_meta -%}

  {%- include custom-head.html -%}
</head>