<!-- 전체 사이트 구조에서 “태그 모음 페이지”의 URL을 찾는 역할 -->
{%- if site.data.archive -%} 
  {%- for item in site.data.archive -%}
    <!-- tags 항목을 찾아, 그 항목의 url을 tags_archive_page 변수에 저장한 뒤 반복문을 중단 -->
    {%- if item.type == "tags" -%}
      {% assign tags_archive_page = item.url %}
      {% break %}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<div class="post-tags-section">
  <i class="post-tags-icon fas fa-tags"></i>
  <ul class="post-tags">
    {%- for tag in page.tags -%}
      <li>
        {%- assign tag_slug = tag -%}
        {%- assign tag_name = site.data.taxonomy_names[tag_slug] | default: tag_slug -%}
        <!-- tags_archive_page가 존재하면 -->
        {%- if tags_archive_page -%}
        <!-- 태그 이름이 링크로 출력 -->
          <a class="post-tag" href="{{ tags_archive_page | relative_url }}#{{ tag_slug }}">{{ tag_name }}</a>
        {%- else -%}
          <span class="post-tag">{{ tag_name }}</span>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</div>
