// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  padding: 0;
  margin: 0;
}

.home-header {
  margin-top: -1em;
  margin-bottom: var(--spacer-3);
}

.content {
  padding-top: var(--spacer-2);
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.sidebar-left {
  display: flex;
  padding: var(--spacer);
  background: center / cover;
  height: 100vh;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

@media (min-width: $md-width) {
  .content {
    padding-top: var(--spacer-3);
    padding-left: var(--spacer-3);
    padding-right: var(--spacer-3);
    margin-left: 25%;
  }

  .sidebar-left {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .home-header {
    margin-top: -2em;
  }
}

@media (min-width: $lg-width) {
  .sidebar-right {
    display: block;
  }
}

@media (max-width: $lg-width) {
  .sidebar-right {
    display: none;
  }
}

@media (max-width: $md-width) {
  .content {
    width: 100%;
  }
}

@media (min-width: $md-width) and (max-width: $lg-width) {
  .content {
    width: 75%;
  }
}

// 화면의 최소 너비가 $lg-width 이상일 때 아래의 .content 스타일을 적용
// 이 스타일은 페이지의 콘텐츠 영역을 중앙(width: 50%)에 배치하고, 좌우 여백을 25%로 설정합니다.
@media (min-width: $lg-width) {
  .content {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

/* Swup animations */
.transition-fade {
  transition: 0.4s; // 0.4초 동안 애니메이션 효과 적용
  opacity: 1; // 초기 상태에서 불투명도 1로 설정
  transform: translateY(0); // 초기 상태에서 Y축으로 이동하지 않도록 설정
}

// 애니메이션이 시작될 때 불투명도를 0으로 설정하고 Y축으로 아래로 이동
// 이 스타일은 Swup가 페이지 전환을 시작할 때 적용됩니다.
html.is-animating .transition-fade {
  opacity: 0; // 불투명도를 0으로 설정하여 화면에서 사라지는 효과
  transform: translateY(20px); // Y축으로 20px 아래로 이동
}

// 검색창의 모양 설정
.floating-search-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000; // Ensure it's on top of other elements
  background-color: var(--sidebar-bg-color, #202020); // Use theme variable or a default
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);


}

// 검색창 바탕 모양, 위치 설정
.floating-search-wrapper form {
  // 1. 바탕의 너비와 높이 설정
  width: 250px;
  height: 40px;
  // 2. 검색창 가로 세로 중앙 정렬
  display: flex; // 
  align-items: center; // 세로 중앙 정렬
  // justify-content: center; // 가로 중앙 정렬
}